<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
    <param-name>appName</param-name>
    <param-value>jtbc_</param-value>
  </context-param>
  <context-param>
    <param-name>adminFolder</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>charset</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <context-param>
    <param-name>convert</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>connStr</param-name>
    <param-value>jdbc:mysql://localhost:3307/jtbc?user=root&amp;password=root&amp;useUnicode=true&amp;characterEncoding=UTF8</param-value>
  </context-param>
  <context-param>
    <param-name>dbtype</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>default_language</param-name>
    <param-value>chinese</param-value>
  </context-param>
  <context-param>
    <param-name>default_template</param-name>
    <param-value>tpl_default</param-value>
  </context-param>
  <context-param>
    <param-name>default_theme</param-name>
    <param-value>default</param-value>
  </context-param>
  <context-param>
    <param-name>imagesRoute</param-name>
    <param-value>common/images</param-value>
  </context-param>
  <context-param>
    <param-name>isApp</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>repath</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>xmlsfx</param-name>
    <param-value>.jtbc</param-value>
  </context-param>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>