<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory >
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://172.16.2.22:3307/hibernate_test</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<mapping resource="com/yanxi/hibernate/pojo/TestBean.hbm.xml" />
		<mapping resource="com/yanxi/hibernate/pojo/Demo.hbm.xml" />
		<!-- 注解需要采用package 
		<mapping package="com.yanxi.hibernate.pojo" />-->
	</session-factory>

</hibernate-configuration>